<nav class="navbar is-transparent is-spaced" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<%= link_to root_path, class: 'navbar-item' do %>
			Aloha Home!
		<% end %>
	</div>

	<div class="navbar-start">
		<%= link_to root_path(liked: true), class: 'navbar-item' do %>
			<i class="fas fa-heart has-text-danger"></i>
			Liked
		<% end %>

		<%= link_to root_path(discarded: true), class: 'navbar-item' do %>
			<i class="fas fa-trash has-text-grey"></i>
			Trash
		<% end %>
	</div>
</nav>

<% if @posts.any? %>
	<section class="section">
		<div class="container">
			<div class="columns is-multiline">
				<% @posts.each do |post| %>
					<div class="column is-3" id="<%= post.id %>">
						<div class="card card-post">
							<div class="card-image">
								<%= link_to like_post_path(post), class: 'toggle-link link-like', method: :put, remote: true do %>
									<i class="fas fa-sync-alt fa-spin has-text-danger is-size-4"></i>

									<% if post.liked? %>
										<i class="fas fa-heart has-text-danger is-size-4"></i>
									<% else %>
										<i class="far fa-heart has-text-danger is-size-4"></i>
									<% end %>
								<% end %>

								<%= link_to discard_post_path(post), class: 'toggle-link link-discard', method: :put, remote: true do %>
									<i class="fas fa-sync-alt fa-spin has-text-white is-size-4"></i>

									<% if post.discarded? %>
										<i class="fas fa-trash-alt has-text-white is-size-4"></i>
									<% else %>
										<i class="far fa-trash-alt has-text-white is-size-4"></i>
									<% end %>
								<% end %>

								<%= link_to post.link, target: :new do %>
									<figure class="image is-4by3">
										<%= image_tag post.cover %>
									</figure>
								<% end %>
							</div>
							<div class="card-content">
								<div class="content">
									<div>
										<p class="title is-size-3"><%= number_to_currency(post.price, precision: 0) %></p>
										<p class="subtitle is-size-6"><%= post.location %></p>
									</div>
								</div>
								<div>
									<div class="columns">
										<div class="column has-text-centered">
											<p><strong><%= empty_value(post.bedrooms) %></strong> <span class="has-text-grey">Bed</span></p>
										</div>
										<div class="column has-text-centered">
											<p><strong><%= empty_value(post.bathrooms) %></strong> <span class="has-text-grey">Bath</span></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</section>
<% else %>
	<section class="hero">
		<div class="hero-body">
			<div class="container">
				<h1 class="title">
					Aloha!
				</h1>
				<h2 class="subtitle">
					Nothing found :(
				</h2>
			</div>
		</div>
	</section>
<% end %>

